<!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        
      <a class="navbar-brand"><h2>BookMovie</h2></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div>
        <h4>Hello,{{username}}</h4>
      </div>
    </div>
</nav> -->

  <div  >
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
         <div>
          <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: white;font-weight: bold;">BookMovie</a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" >Movies</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link active" routerLink="/update-movie" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: white;font-weight: bold;" aria-current="page" >Update Movie</a>
            </li>
            <!-- <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link active" aria-current="page" >Delete Movie</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/book-ticket" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Book Tickets</a>
            </li> -->
        </ul>
        <div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search by MovieName" (change)="searchMoviesByName($event)" aria-label="Search" #id>
            <button class="btn btn-outline-danger"  type="submit">Search</button>
          </form>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"  style="color: white;font-weight: bold;background: #000;"  type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello,{{username}}
            </button>
            <div class="dropdown-menu"  style="background-color:black;border-color:white ;" aria-labelledby="dropdownMenuButton">
                <a class="nav-item nav-link" style="color: white;padding: 2px;cursor: pointer;" *ngIf="islogin" (click)="logOut()">Logout</a>
            </div>
          </div>
        </div> 
    </nav>
  </div>


<div class="col-md-10 offset-md-1 mt-7">
    <div class="container" >
        <div class="movie-card" *ngFor="let movie of movies; let i = index;" >
            <div class="movie-header" style="background: url({{movie.movieImage}}); background-size:cover; background-position: center; background-repeat: no-repeat; ">
            </div>
            <div class="movie-content">
                <div class="movie-content-header">
                        <h3 class="movie-title">{{movie.movieName}}</h3>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <h5>Theatre</h5>
                        <h6>{{movie.theatreName}}</h6>
                    </div>
                    <div class="info-section">
                        <h5>Seats Available</h5>
                        <h6>{{ movie.remainingSeats}} </h6>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button class="btn btn-outline-danger" style="text-align: center; background-color:black;"  routerLink="/book-ticket" (click)="onBookNow(i)"><h3>Book Now</h3></button>
                </div>
            </div>
        </div>
    </div>
</div> 
  
  