<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-2">
                        <form [formGroup]="loginForm"  (ngSubmit)="onLogin()">
                            <div class="form-group pt-2">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="username">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">username is required*</small>
                            <div class="form-group pt-2">
                                <div class="input-field" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input formControlName="email" type="email" placeholder="email">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">email is required*</small>
                            <div class="form-group pt-2">
                                <div class="input-field" [class.error]="loginForm.controls['loginId'].dirty && loginForm.hasError('required','loginId')">
                                    <span class="fa fa-id-badge p-2"></span>
                                    <input formControlName="loginId" type="text" placeholder="loginId">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['loginId'].dirty && loginForm.hasError('required','loginId')" class="text-danger">loginID is required*</small>
                            <div class="form-group pt-2">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" type="password" placeholder="password">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">password is required*</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" data-bs-target="#exampleModal" data-bs-toggle="modal" class="font-weight-bold">Forget Password?</a>
                            </div>
                            <button type="submit" class="btn btn-block mt-4 w-100 logbtn">Login</button>
                            <div class="text-center pt-4 text-muted">
                                Don't have account? <a id="forget" routerLink="/register">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="exampleModalLabel"><span style="font-size: 25px;font-weight: 700;">Forgot your Password?</span>
          <br><small>Please provide your Email to send the reset link</small></p>
          <button type="button" class="close" data-bs-dismiss="modal" style="border-radius: 50%;color: red;background-color: white;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group pt-2">
                <div class="input-field">
                    <span class="fa fa-envelope p-2"></span>
                    <input [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="email" placeholder="email">
                </div>
            </div>
            <small *ngIf="!resetPasswordEmail" class="text-danger">email is required*</small>
            <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">email is invalid</small>
           
        </div>
        <div class="modal-footer">
          <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="confirmToSend()">Send</button>
        </div>
      </div>
    </div>
</div>